#columns{
  width           : 600px;
  height          : 450px;
  
}

.cell {
  display:inline-block;
  font-family     : Arial;
  text-align      : center;
  width           : 100px;
  height          : 100px;
  background      : #ccc;
  border          : 1px solid #000;
  box-shadow      : 1px 1px 5px -1px #000;
  padding         : 10px;
  margin-bottom   : 10px;
  cursor          : pointer;
  margin: 5px;
}

.cell:hover {
  text-decoration : underline;   
}

.red {
  display:inline-block;
  font-family     : Arial;
  text-align      : center;
  width           : 100px;
  height          : 100px;
  background      : red;
  border          : 1px solid #000;
  box-shadow      : 1px 1px 5px -1px #000;
  padding         : 10px;
  margin-bottom   : 10px;
  cursor          : pointer;
  margin: 5px;
}